// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #3f51b5
  light: #757de8
  dark: #002984
  accent: #ce93d8
  secondary: #424242
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}

@require '~vuetify/src/stylus/main.styl'

// Restyling Vuetify
.application
  font-family 'Montserrat', sans-serif !important

// New
.opacity-30
  opacity .3

.opacity-50
  opacity .5

.opacity-70
  opacity .7

.pt-serif
  font-family 'PT Serif', serif

.fs85
  font-size 85px

.fs54
  font-size 54px

.fs40
  font-size 40px

// .fs36
//   font-size 36px
//
// .fs30
//   font-size 30px

.fs26
  font-size 26px

.fs24
  font-size 24px

.fs20
  font-size 20px

.fs18
  font-size 18px

.fs16
  font-size 16px

.fs12
  font-size 12px

.lh15
  line-height 15px

.brown-color
  color #b88162 !important

.brown-background
  background-color #b88162 !important

.blue-color
  color #a8a9bc !important

.position-relative
  position relative

.container-bordered
  // background url(/img/bg/bg-triangles.svg) center bottom no-repeat, #27283b url(/img/bg/bg-lines.svg) center repeat
  background #27283b url(/img/bg/bg-lines.svg) center repeat
  overflow hidden
  position relative
  margin-bottom 50px

  &__img
    display block
    position absolute
    bottom 0
    left 50%
    transform translateX(-50%)

.title-40
  font-size 30px
  @media (min-width: 600px) {
    font-size 36px
  }
  @media (min-width: 960px) {
    font-size 40px
  }
  &>span
    padding-left 20px
    padding-right 20px
    @media (min-width: 600px) {
      padding-left 34px
      padding-right 34px
    }
    @media (min-width: 960px) {
      padding-left 48px
      padding-right 48px
    }
